body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 68, 109);
}

h1 {
    text-align: center;
}

pG {
    font-size: large;
}

.foodTable {
    border-style: dashed;
    border-color: lightgrey;
}